<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>It's okay to say YES</title>
    <style>
        body{
            width: 100%;
            height: 90vh;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .text{
            text-align: center;
        }
        form{
            width: 100%;
            max-width: 500px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .yes{
            width: 100px;
            height: 40px;
            font-family: 'Poppins', sans-serif;
            margin-right: 120px;
            border: none;
            background-color:#222;
            color: #fff;
            border-radius: 5px;
            font-size: 20px;
        }
        #no_btn{
            position: absolute;
            width: 100px;
            height: 40px;
            font-family: 'Poppins', sans-serif;
            margin-left: 120px;
            border: none;
            background-color:#222;
            color: #fff;
            border-radius: 5px;
            font-size: 20px;
        }
        .gif{
            width: 400px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom:50px;
        }
        .gif img{
            width: 100%;
            max-width: 400px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text">
            <h2>Lorem ipsum dolor sit amet consectetur.🤩</h2>
        </div>
        <div class="gif">
            <img src="img/giphy (1).gif" alt="" srcset="">
        </div>
        <form action="/" method="post">
            <button value="YES" class="yes" onclick="move()" name="answer" type="submit">Yes🥰</button>
            <button id="no_btn" onclick="move()" value="NO" name="answer" type="submit">No😥</button>
        </form>
    </div>
</body>
 <script>
    element = document.getElementById("no_btn");
    element.addEventListener("mouseover",move)
    function move(){
        i=Math.floor(Math.random()*500)+1;
        j=Math.floor(Math.random()*500)+1;
        console.log(i,j);
        element.style.left=i+"px";
        element.style.top=j+"px";
    }
 </script>
</html>